/* 

.notify.slide-in {
  animation-duration: 4s;
  animation-delay: -1s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  0% {
      top: -100%;
  }

  40% {
      top: 90px;
  }

  60% {
      top: 90px;
  }

  100% {
      top: -100%;
  }
}

@media (max-width:900px) {
  .product-right {
      padding: 16rem 2rem 8rem 2rem;
  }
}

@media (max-width:850px) {
  .product-div {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      margin-bottom: 6rem;

  }

  .product-right {
      width: 100%;
      padding: 3rem 2rem 4rem 2rem;
  }

  .product-left {
      width: 100%;
  }

  .product-big-name {
      width: 31rem;
      text-align: center;
  }
}

@media (max-width:570px) {

  .specifications {
      gap: 2rem;
      flex-direction: column;
      margin-bottom: 28rem;
  }
}

@media (max-width:450px) {
  .product-quant {
      flex-direction: column;
      gap: 2rem;
  }

  .product-spec {
      margin-bottom: 2rem;
  }

  .atc-buy {
      gap: 2rem;
      width: 100%;
      flex-direction: column;
  }

  .atc-buy button {
      width: 100%;
  }

}  */
.container-height {
  height: 36rem;
}
.image-height {
  height: 36rem;
}