.onepxborder{
  border: 1.5px solid gainsboro;
}
.bot-border{
  border-bottom: 1.5px solid gainsboro;
}
.y-border{
  border-bottom: 1.5px solid gainsboro;
  border-top: 1.5px solid gainsboro;

}.onepxborder{
  border: 1.5px solid gainsboro;
}
.bot-border{
  border-bottom: 1.5px solid gainsboro;
}
.y-border{
  border-bottom: 1.5px solid gainsboro;
  border-top: 1.5px solid gainsboro;

}